 # Rules
--self insert # makes sure the self. prefix is added where appropriate
--stripunusedargs closure-only # only strips unused arguments (replacing with _) in closures, not methods
--header "Copyright © {year} SpotHero. All rights reserved."

 # Disabled Rules
--disable specifiers # because it isn't configurable

 # File Exclusions
--exclude Package.swift 